{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Actualizar Usuario
{% endblock %}

{% block content %}
<div class="container-fluid mb-5 pb-5">
    <div class="container mt-5 ">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>Modificación de Usuario</h2>
                    </div>
                    <div class="card-body">
                        <form method="post" id="formulario-usuario">
                            {% csrf_token %}
                            {{ form|crispy }}

                            <button type="submit" class="btn btn-primary btn-block">Acttualizar Usuario</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#id_region').change(function () {
            var regionId = $(this).val();
            if (regionId) {
                $.ajax({
                    url: '{% url "obtener_comunas" %}',
                    data: {
                        'region_id': regionId
                    },
                    dataType: 'json',
                    success: function (data) {
                        $('#id_comuna').empty().append('<option value="">Seleccionar comuna</option>');
                        $.each(data, function (index, comuna) {
                            $('#id_comuna').append('<option value="' + comuna.id + '">' + comuna.nombre + '</option>');
                        });
                    }
                });
            } else {
                $('#id_comuna').html('<option value="">Seleccionar comuna</option>');
            }
        });

        // Cargar las comunas al cargar la página si la región ya está seleccionada
        var regionId = $('#id_region').val();
        var comunaId = $('#id_comuna').data('selected');
        if (regionId) {
            $.ajax({
                url: '{% url "obtener_comunas" %}',
                data: {
                    'region_id': regionId
                },
                dataType: 'json',
                success: function (data) {
                    $('#id_comuna').empty().append('<option value="">Seleccionar comuna</option>');
                    $.each(data, function (index, comuna) {
                        $('#id_comuna').append('<option value="' + comuna.id + '">' + comuna.nombre + '</option>');
                    });
                    if (comunaId) {
                        $('#id_comuna').val(comunaId);
                    }
                }
            });
        } else {
            $('#id_comuna').html('<option value="">Seleccionar comuna</option>');
        }
    });
</script>
{% endblock %}