
<footer class=" fondo-celeste text-white py-3">
   <div class="container">
    <div class="row">
        <!-- Información de dirección -->
        <article class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4 ">
            <!-- Contenido de dirección, se menciona  -->
            <div class="container">
                <p class=" text-uppercase h4 cafe_pie titulo_mini">Dirección</p>
                <p class=" cafe_pie h5"><i class="fa-solid fa-location-dot text-white"></i> Dieciocho 143, Santiago, Región Metropolitana, Chile</p>

                <!-- Se añade mapa de ruta a la empresa -->
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="100%" height="100%" id="gmap_canvas"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d362.3031871661526!2d-70.63105131775811!3d-33.43845907404086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c583747d50ab%3A0x463284b3f2752418!2sIcel%20Ltda.!5e0!3m2!1ses!2sus!4v1720317419071!5m2!1ses!2sus"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                </div>
            </div>

        </article>

        <!-- Se agrega los horarios  -->
        <article class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4 ">
            <div class="container">
                <p class="cafe_pie titulo_mini text-uppercase h4 ">Horarios</p>

                <div class="row" id="horarios">
                    <div class="col-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-store"></i>
                    </div>
                    <div class="col-10">
                        <p class="text-uppercase  h5 ">LUNES A SÁBADO</p>
                        <p class="text-white">de 10:00 a 20:00 hrs.</p>
                    </div>
                </div>
                <div class="row" id="horarios2">
                    <div class="col-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-store"></i>
                    </div>
                    <div class="col-10">
                        <p class="text-uppercase h5 ">DOMINGO Y FESTIVOS</p>
                        <p class="text-white">de 10:00 a 19:30 hrs.</p>
                    </div>
                </div>

            </div>
        </article>

        <!-- Se agrega la informacion de contacto -->
        <article class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4  ">
            <p class="cafe_pie titulo_mini  text-uppercase h4 ">Contacto</p>
            <div class="row" id="correo">
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <i class=" fa-regular fa-envelope"></i>
                </div>
                <div class="col-10">
                    <p class="text-uppercase  h5 ">CORREO ELECTRÓNICO</p>
                    <p class="text-white">contacto@mirenta.cl</p>
                </div>
            </div>
            <div class="row" id="telefono">
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-phone"></i>
                </div>
                <div class="col-10">
                    <p class="text-uppercase  h5 ">TELÉFONO</p>
                    <p class="text-white">32 251 4100</p>
                </div>
            </div>


            <!-- Botones de redes sociales -->
            <div id="redes" class="pt-3 d-flex justify-content-center container">
                <a type="button" class="btn custom-button btn-lg me-2" href="https://www.facebook.com" target="_blank"><i
                        class="fa-brands fa-facebook text-white"></i></a>
                <a type="button" class="btn custom-button btn-lg" href="https://www.instagram.com" target="_blank"><i
                        class="fa-brands fa-instagram text-white"></i></a>
            </div>
    </div>
    </div>

    <!-- FIn contenedor de infoweb -->

    <h4 class="d-flex justify-content-center cafe_pie titulo_mini" >&copy;Esta pagína fue creada por Donni Plaza - Evanny Zapata 2024</h4>
</footer>

